body {
  font-size: 14px;
}

.header {
  padding-top: 1em;
  margin-bottom: 2rem;
  border-bottom: 2px solid lightgray;
}

.success-bar-wrapper {
  position: relative;
  background-color: #2199E8;
  height: 20px;
  width: 100%;
  color: white;
  padding-left: .5em;
  font-size: .9em;
  font-weight: bold;
  box-shadow: 1px 1px 2px 0 rgba(200, 200, 200, 0.8);
}

.success-bar {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #f1f1f1;
  height: 20px;
}

h1 {
  font-size: 1.6rem!important;
}

h2 {
  font-size: 1.2rem!important;
}

h4 {
  font-size: 1rem!important;
}

.project {
  padding-top: 1em;
  padding-bottom: 1em;
}
.project .small-12 {
  border-bottom: 1px solid lightgray;
}

.project .medium-8 {
  border-bottom: 1px solid lightgray;
}

.project .column {
  padding-bottom: 2em;
}

.project:not(:last-child) {
  padding-bottom: 2em;
}


#project {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100vh;
  background-color: white;
  border-bottom: 1px solid lightgray;
  box-shadow: -1px 0 1px 0 rgba(200, 200, 200, 0.5);;
  padding: 1rem;
  transform: translateX(100%);
  overflow-y: auto;
}

.slide-in {
 animation: slide-in 0.5s forwards;
}

.slide-out {
 animation: slide-out 0.5s forwards;
}

@keyframes slide-in {
 100% { transform: translateX(0%); }
}

@keyframes slide-out {
 0% { transform: translateX(0%); }
 100% { transform: translateX(100%); }
}
